#contato {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  
}
.contato-informacao { 
  display: flex;
  justify-content: space-between;

  min-width: 300px;
  font-family: Roboto, sans-serif;  
}
.contato-informacao div {
  
}
.mensagem-contato {
 
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  color: #242222;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 30px;
  min-width: 40%;
}
.mensagem-contato h3 {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.formulario {
  display: flex;
  flex-direction: column;
}

label {
  font-family: Roboto, sans-serif;
  padding: 15px 0px 5px 0px;
}

#contato .mensagem-contato .formulario > input {
  height: 30px;
  margin: 0;
  border: 0;
  border-radius: 4px;
  background: #f2f2f2;
}

#contato .mensagem-contato .formulario > textarea {
  height: 100px;
  margin: 0;
  border: 0;
  border-radius: 4px;
  background: #f2f2f2;
}

#contato .mensagem-contato .formulario > button {
  width: 160px;
  height: 50px;

  margin: 0;
  border: 0;
  border-radius: 4px;
  margin-top: 30px;
  align-self: center;

  font-family: Roboto, sans-serif;
  font-size: 18px;
  background: #04749c;
  color: #f2f2f2;
  transition: 0.3s;
}

#contato .mensagem-contato .formulario > button:hover {
  background: #b5cc00;
}
.informacao-redes{
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 50px;
  min-width: 60%
}
#contato .contato-informacao .informacao-redes > div {
  display: flex;
  align-items: center;

  margin-top: 30px;
}
#contato .contato-informacao .informacao-redes p {
  margin-left: 10px;
}

#contato .contato-informacao .informacao-redes > h4 {
  font-size: 23px;
  font-weight: 400;
}
img {
  width: 40px;
  margin-left: 14px;
}
.informacao-redes > div a img:hover {
  width: 42px;
}
