#sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  padding: 30px;
}

#sobre h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

#sobre p {
  font-weight: 400;
  text-indent: 30px;
}

.contentBio{
  border: 30px;
}
div >.imageFace{
  max-width: 450px;
  max-height: auto;
}
